<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <%= raw(@text) %>
    <br>
    <hr>
    <p>Ak nechcete dostávať tieto informácie, odhlásite sa kliknutím na tento link.</p>
    <p>
    	<%= link_to "Odhlásiť", unsubscribe_url(id: @hashmail) %>
    	
    </p>
  </body>
</html>