<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <%= raw(@text) %>
    <br>
    <hr>
    <p>Ak nechcete dostávať tieto informácie, odhlásite sa kliknutím na tento link.</p>
    <p><a href="https://crm.geminigroup.sk/unsubscribe/<%=@hashmail%>">https://crm.geminigroup.sk/unsubscribe/<%=@hashmail%></a></p>
  </body>
</html>