
.nav-header {
	background-image: none !important;
	background-color: #2F4050 !important; 
}

.grey-background {
  background-color: #F2F2F2 !important;
  /*padding: 3px;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.modal-dialog-upload{
    height: auto;
    min-height: 500px;   
}

.enlarge-down-80 {
  padding-bottom: 80px !important;
}

.vip_text {
  color: #f7941e !important;
}

.red-text {
  color: #ED5565;
}

.min80height {
  min-height: 80px !important;
}

.padding_top_10px {
  padding-top:10px !important;
}

@media (min-width: 992px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

