/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.nav-header {
	background-image: none !important;
	background-color: #2F4050 !important; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


