<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Kalendár</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Kalendár</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
      	<div class="alert alert-success alert-dismissable">
												<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
												<p>Pre pridanie celodenného záznamu v kalendári klikni na deň v mesačnom prehľade a pridaj záznam</p>
												<p>Pre pridanie záznamu na konkrétnu hodinu prejdi na týždenný alebo denný prehľad a myšou vysvieť čas, na ktorý chceš pridať záznam</p>
												<p>Pre vymazanie záznamu klikni naň pravým tlačidlom a potvrď</p>
												<p>Pri pridaní url treba vložiť celú cestu vrátane http://</p>
												</div>

		<div id="calendar" >
			</div>
</div>
</div>
</div>
</div>
</div>




<script type="text/javascript">

var tableready = function() {

var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();


	$('#mycalendar:not(".fc-event")').on('contextmenu', function (e) {
		e.preventDefault()
	});

	var calendar =	$("#calendar").fullCalendar({
		editable: true,
		height: 550,
eventLimit: true, // allow "more" link when too many events
header: {
	left: "prev,next today",
	center: "title",
	right: "month,agendaWeek,agendaDay"
},
events: "/get_calendar_events.json",
// Convert the allDay from string to boolean
eventRender: function(event, element, view) {
	if (event.allDay === "true") {
		event.allDay = true;
	} else {
		event.allDay = false;
	}
},
selectable: true,
selectHelper: true,
select: function(start, end, allDay) {
	var title = prompt("Poznámka:");
	var url = prompt("url k danej poznámke, ak existuje a je potrebná:");
	if (title) {


		var start=moment(start).format("YYYY/MM/DD HH:mm:ss");
		var end=moment(end).format("YYYY/MM/DD HH:mm:ss");

		var a = new Date(start);
		var b = new Date(end);
		var diffDays = b.getTime() - a.getTime(); 



		$.ajax({
			url: "/add_calendar_event",
			data: {
				title: title,
				start: start,
				end: end,
				url: url,
				allDay: diffDays
			},
			type: "POST",
			success: function(data) {
				if (data.status == "ok")
              {
                alert("Záznam do kalendára bol pridaný" );
                calendar.fullCalendar( 'refetchEvents' );
                
              }
              else { alert(data.status);}

				
				
			}
		});
		calendar.fullCalendar("renderEvent",
		{
			title: title,
			start: start,
			end: end,
			allDay: allDay
		},
true // make the event "stick"
);
	}
	calendar.fullCalendar("unselect");
},

editable: true,
eventDrop: function(event, delta) {

	var start=moment(event.start).format("YYYY/MM/DD HH:mm:ss");
	var end=moment(event.end).format("YYYY/MM/DD HH:mm:ss");


	$.ajax({
		url: "/edit_calendar_event",
		data: {
			title: event.title,
			start: start,
			end: end,
			id: event.id
		},
		type: "POST",
		success: function(data) {
				if (data.status == "ok")
              {
                alert("Záznam v kalendári bol upravený" );
                calendar.fullCalendar( 'refetchEvents' );
                
              }
              else { alert(data.status);}

				
				
			}
		});
},
eventResize: function(event) {
	var start=moment(event.start).format("YYYY/MM/DD HH:mm:ss");
	var end=moment(event.end).format("YYYY/MM/DD HH:mm:ss");
	$.ajax({
		url: "/edit_calendar_event",
		data: {
			title: event.title,
			start: start,
			end: end,
			id: event.id
		},
		type: "POST",
		success: function(data) {
				if (data.status == "ok")
              {
                alert("Záznam v kalendári bol upravený" );
                calendar.fullCalendar( 'refetchEvents' );
                
              }
              else { alert(data.status);}

				
				
			}
	});

},
eventRender: function (event, element) {
	element.bind('mousedown', function (e) {
		if (e.which == 3) {

			var x = confirm("Naozaj chceš vymazať tento záznam v kalendári?");
			if (x) {
				$.ajax({
					url: "/remove_calendar_event",
					data: {
						id: event.id
					},
					type: "POST",
					success: function(data) {
				if (data.status == "ok")
              {
                alert("Záznam v kalendári bol vymazaný" );
                calendar.fullCalendar( 'refetchEvents' );
                
              }
              else { alert(data.status);}

				
				
			}
				})
				.done(function (msg) {
					calendar.fullCalendar( 'refetchEvents' );

				});

			}
//  
else
	return false;


}
});
},

eventClick:  function(event, jsEvent, view) {

	$('#modalTitle').html(event.title);
	$('#modalBody').html(event.description);
	$('#eventUrl').attr('href',event.url);
	$('#calendarModal').modal();
	if (event.url) {
      window.open(event.url);
      return false;
    }
}






});

};

$(".calendars.show_calendar").ready(tableready);
$(".calendars.show_calendar").on('turbolinks:load', tableready);

document.addEventListener('turbolinks:before-cache', function() {
 if ($('#calendar').length ==1) {$('#calendar').empty() ;} 

});

$(".calendars.show_calendar").on('turbolinks:load', tableready); 


</script>