<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Kalendár</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Kalendár</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
		<div class="ibox float-e-margins">
		      <div class="ibox-content">
		      		<p>Ak chceš pridať záznam do kalendára na ľubovolný dátum bez nutnosti hľadania v kalendári, zadaj ho tu</p>
		      		<div class="row">
		      		<div class="col-md-3">
			<div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_manual_entry" id="calendar_manual_entry" class="form-control datepick" placeholder="1990-12-31" /></div>
          </div>
          <div class="col-md-3">
          	<div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" id="calendar_manual_entry_time" class="form-control" placeholder="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
             <div class="col-md-3">
             	<input type="text" name="calendar_note" id="calendar_note" class="form-control" placeholder="Poznámka" />
             </div>
          <div class="col-md-3">
          	<button class="btn btn-primary" id="manul_cal_entry_submit_button">Ulož záznam</button>
          </div>
      </div>
          <br>

      </div>
      </div>		
		</div>
	</div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="row">
     <div class="col-md-3">
     <div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_goto_entry" id="calendar_goto_entry" class="form-control datepick" placeholder="1990-12-31" /></div> 
    </div>
  
   <div class="col-md-3">
            <button class="btn btn-primary" id="cal_goto_submit_button">Prejdi na dátum</button>
          </div>
        </div>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
      	<div class="alert alert-success alert-dismissable">
												<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
												<p>Pre pridanie celodenného záznamu v kalendári klikni na deň v mesačnom prehľade a pridaj záznam</p>
												<p>Pre pridanie záznamu na konkrétnu hodinu prejdi na týždenný alebo denný prehľad a myšou vysvieť čas, na ktorý chceš pridať záznam</p>
												<p>Pre vymazanie záznamu klikni naň pravým tlačidlom a potvrď</p>
												
												</div>

		<div id="calendar" >
			</div>
</div>
</div>
</div>
</div>
</div>


<div id="editCalendarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Uprav záznam v kalendári </h2>
       
      </div>
      <div class="modal-body">
        <div class="row">
              <div class="col-md-6">
      <div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_manual_edit" id="calendar_manual_edit" class="form-control datepick" placeholder="1990-12-31" /></div>
          </div>
          <div class="col-md-6">
            <div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" id="calendar_manual_edit_time" class="form-control" placeholder="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
             <div class="col-md-12">
              <input type="text" name="calendar_edit" id="calendar_edit" class="form-control" placeholder="Poznámka" />
             </div>
           </div>
           <br>
           <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" id="manul_cal_entry_edit_button">Uprav záznam</button>
          </div>
      </div>

        </div>
        </div>
        </div>
        </div>



<script type="text/javascript">

var tableready = function() {

	$('.datepick').datepicker({
       trigger: $('#inputcalendar'),
        autoHide: true,
        format: 'yyyy-mm-dd'
        });

 $('.clockpicker').clockpicker();

$("#manul_cal_entry_submit_button").click(function()
{

$manual_date = $('#calendar_manual_entry').val();
$manual_time = $('#calendar_manual_entry_time').val();
$calnote = $('#calendar_note').val();

if ($manual_date.length > 0) {

	if ($manual_time.length == 0) {
		$allday = true;
		$custstart = $manual_date.concat(' 00:00:00')
		$custend = $manual_date.concat(' 23:59:59')
	}
	 else {
	 	$allday = false; $custstart = $manual_date.concat(' ',$manual_time); $custend = $manual_date.concat(' ',$manual_time);
	 }


 
 $.ajax({
            type: "POST",
            url: "/add_calendar_event",
            data: {
                title: $calnote,
                start: $custstart,
                end: $custend,
                allDay: $allday
            }
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                location.reload();
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
           	$("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vložiť záznam do kalendára"));
               
               

           })                            
           ;
}
else {
	$("#notice").html(flashMessageFromAjax("not ok","Nezadal si dátum"));
}
  });

$("#cal_goto_submit_button").click(function()
{
  $goto_date = $('#calendar_goto_entry').val();
  calendar.fullCalendar('gotoDate',$goto_date)
}
);


var defaultView = (localStorage.getItem("fcDefaultView") !== null ? localStorage.getItem("fcDefaultView") : "basicWeek");

var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();


	$('#mycalendar:not(".fc-event")').on('contextmenu', function (e) {
		e.preventDefault()
	});

	var calendar =	$("#calendar").fullCalendar({
		editable: true,
		height: 550,
eventLimit: true, // allow "more" link when too many events
header: {
	left: "prev,next today",
	center: "title",
	right: "month,agendaWeek,agendaDay"
},
defaultView: defaultView,
events: "/get_calendar_events.json",
// Convert the allDay from string to boolean
eventRender: function(event, element, view) {
	if (event.allDay === "true") {
		event.allDay = true;
	} else {
		event.allDay = false;
	}
},
selectable: true,
selectHelper: true,
select: function(start, end, allDay) {
	var title = prompt("Poznámka:");
	//var url = prompt("url k danej poznámke, ak existuje a je potrebná:");
	if (title) {


		var start=moment(start).format("YYYY/MM/DD HH:mm:ss");
		var end=moment(end).format("YYYY/MM/DD HH:mm:ss");

		var a = new Date(start);
		var b = new Date(end);
		var diffDays = b.getTime() - a.getTime(); 



		$.ajax({
			url: "/add_calendar_event",
			data: {
				title: title,
				start: start,
				end: end,
				
				allDay: diffDays
			},
			type: "POST",
			success: function(data) {
				if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                //calendar.fullCalendar( 'refetchEvents' );
                calendar.fullCalendar('rerenderEvents')
                
              }
              else { alert(data.status);}

				
				
			}
		});
		calendar.fullCalendar("renderEvent",
		{
			title: title,
			start: start,
			end: end,
			allDay: allDay
		},
true // make the event "stick"
);
	}
	calendar.fullCalendar("unselect");
},

editable: true,
eventDrop: function(event, delta) {

	var start=moment(event.start).format("YYYY/MM/DD HH:mm:ss");
	var end=moment(event.end).format("YYYY/MM/DD HH:mm:ss");


	$.ajax({
		url: "/edit_calendar_event",
		data: {
			title: event.title,
			start: start,
			end: end,
			id: event.id
		},
		type: "POST",
		success: function(data) {
				if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol upravený"));
                
                //calendar.fullCalendar( 'refetchEvents' );
                calendar.fullCalendar('rerenderEvents')
                
              }
              else { alert(data.status);}

				
				
			}
		});
},
eventResize: function(event) {
	var start=moment(event.start).format("YYYY/MM/DD HH:mm:ss");
	var end=moment(event.end).format("YYYY/MM/DD HH:mm:ss");
	$.ajax({
		url: "/edit_calendar_event",
		data: {
			title: event.title,
			start: start,
			end: end,
			id: event.id
		},
		type: "POST",
		success: function(data) {
				if (data.status == "ok")
              {
              	$("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol upravený"));
                //alert("Záznam v kalendári bol upravený" );
                calendar.fullCalendar( 'refetchEvents' );
                
              }
              else { alert(data.status);}

				
				
			}
	});

},
eventRender: function (event, element) {
	element.bind('mousedown', function (e) {
		if (e.which == 3) {

			var x = confirm("Naozaj chceš vymazať tento záznam v kalendári?");
			if (x) {
				$.ajax({
					url: "/remove_calendar_event",
					data: {
						id: event.id
					},
					type: "POST",
					success: function(data) {
				if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vymazaný"));
                //alert("Záznam v kalendári bol vymazaný" );
                calendar.fullCalendar( 'refetchEvents' );
                
              }
              else { alert(data.status);}

				
				
			}
				})
				.done(function (msg) {
					calendar.fullCalendar( 'refetchEvents' );

				});

			}
//  
else
	return false;


}
});
},

eventClick:  function(event, jsEvent, view) {

	dd = event.start._i

var date = new Date(dd);

var day = date.getDate();
var month = (date.getMonth() +1);
var year = date.getFullYear();
var hour = date.getHours();
var minute = date.getMinutes();

if (hour < 10)  hour = '0'+hour;
if (minute < 10)  minute = '0'+minute;

if (month < 10) month = '0'+month;
if (day < 10) day = '0' +day;



//console.log(event.start)
	$('#calendar_edit').val(event.title);
	$('#calendar_manual_edit').val(year+'-'+month+'-'+day);
	$('#calendar_manual_edit_time').val(hour+":"+minute);
	//$('#eventUrl').attr('href',event.url);
	$('#editCalendarModal').modal('toggle');
	
	$("#manul_cal_entry_edit_button").click(function()
{

$manual_date = $('#calendar_manual_edit').val();
$manual_time = $('#calendar_manual_edit_time').val();
$calnote = $('#calendar_edit').val();

if ($manual_date.length > 0) {

	if ($manual_time.length == 0) {
		$allday = true;
		$custstart = $manual_date.concat(' 00:00:00')
		$custend = $manual_date.concat(' 23:59:59')
	}
	 else {
	 	$allday = false; $custstart = $manual_date.concat(' ',$manual_time); $custend = $manual_date.concat(' ',$manual_time);
	 }


 
 $.ajax({
            type: "POST",
            url: "/edit_calendar_event",
            data: {
            	id: event.id,
                title: $calnote,
                start: $custstart,
                end: $custend,
                allDay: $allday
            }
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                location.reload();
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
           	$("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vložiť záznam do kalendára"));
               
               

           })                            
           ;
}
else {
	$("#notice").html(flashMessageFromAjax("not ok","Nezadal si dátum"));
}
  });

},
viewRender: function (view, element) {
        // When the view changes, we update our localStorage value with the new view name.
        localStorage.setItem("fcDefaultView", view.name);
    },





});

};

$(".calendars.show_calendar").ready(tableready);
$(".calendars.show_calendar").on('turbolinks:load', tableready);

document.addEventListener('turbolinks:before-cache', function() {
 if ($('#calendar').length ==1) {$('#calendar').empty() ;} 

});

$(".calendars.show_calendar").on('turbolinks:load', tableready); 


</script>