<p id="notice"><%= render 'layouts/flash_message' %></p>


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Komunikácia</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Komunikácia</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_subjtype_button" data-toggle="modal" data-target="#addCommModal">Pridaj záznam</button>
        <button type="button" class="btn btn-warning" id="clear_filter_button" >Zruš všetky filtre</button>
        
        <hr>
        <div class="table-responsive">

          <table  class="table table-bordered" id="communication" style="width:100%">
  <thead>
    <tr>
      <th>Subjekt</th>
      <th>S osobou</th>
      <th>Text</th>
      <th>Kľúčové slovo</th>
      <th>Vložené dňa</th>
      <th>Autor</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   
  </tbody>
    <tfoot>
                     <tr id ="tabledetailsearch" class="visibility" style="width:100%">
                     <th>Subjekt</th>
      <th>S osobou</th>
      <th>Text</th>
      <th>Kľúčové slovo</th>
      <th class="inputdate">Vložené dňa</th>
      <th>Autor</th>
      <th class="disabled"></th>
      <th class="disabled"></th>
                     
                                      
                                      </tr>
                                    </tfoot>
 </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<!-- add comm modal -->
<div id="addCommModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Pridaj nový záznam</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="new_comm_form" accept-charset="utf-8">
           <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name'), class: 'form-control chosen-select', id: 'commsubject', prompt: "--vyber subjekt--" %>
         </br>
         
          <span id="addPersonToComm"></span>
     
     <label>Text:</label><textarea rows="6" type="text" name="commabout" id="commabout" class="form-control" required placeholder="Obsah komunikácie"></textarea><br>
     <label>Kľúčové slovo:</label><input type="text" name="commkeyword" id="commkeyword" class="form-control" required placeholder="Kľúčové slovo pre zatriedenie"/><br>
     </div>


     <input type="submit" class="createcomm btn btn-success" value="Vytvor" /> 

   </form>

 </div>
</div>

</div>
</div>

<!-- edit modal -->
<div id="editCommModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav záznam</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_comm_form" accept-charset="utf-8">
            <input style="visibility:hidden" type="text" name="editcommID" id="editcommID" value="" readonly>
            <input style="visibility:hidden" type="number" name="subject_edit_id_for_person" id="subject_edit_id_for_person" value="" readonly>
           <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name'), class: 'form-control chosen-select', id: 'editcommsubject' %>
         </br>
         
          <span id="addEditPersonToComm"></span>
     
     <label>Text:</label><textarea rows="6" type="text" name="editcommabout" id="editcommabout" class="form-control" required placeholder="Obsah komunikácie"></textarea><br>
     <label>Kľúčové slovo:</label><input type="text" name="editcommkeyword" id="editcommkeyword" class="form-control" required placeholder="Kľúčové slovo pre zatriedenie"/><br>
     </div>


     <input type="submit" class="updatecomm btn btn-success" value="Vytvor" /> 

   </form>

 </div>
</div>
</div>
</div>


<script>
var commtable;

var tableready = function() {

  $('.chosen-select').chosen({width: "100%"});

  $('.chosen-search-input').autocomplete({
  source: function( request, response ) {
    //console.log(request)
    if (request.term.length > 2) {
    $.ajax({
      url: "/autocomplete_find_subject/",
      type: "POST",
      dataType: "json",
      data: {"request": request.term},
      beforeSend: function(){$('ul.chosen-results').empty();},
      success: function( data ) {
        $('.chosen-select').empty();
        //console.log(data)
        //console.log("-----------------------")
         //response( $.map( data, function( item ) {
          $('.chosen-select').append('<option value="0" disabled>Vyber subjekt</option>'); 
           for ( var i = 0; i < data.data.length; i++) {
          $('.chosen-select').append('<option value="'+data.data[i][0] +'">'+data.data[i][1]+'</option>');  
            }

          
          
        //}));
         $('.chosen-select').trigger("chosen:updated");
         $("#editcommsubject").trigger('change');
         $("#commsubject").trigger('change')


      }
    });
  }
  }
});


 $("#clear_filter_button").on('click',function(event){
      commtable.state.clear();
      location.reload();

    });

 commtable= $('#communication').DataTable({
  'order': [4, 'desc'],
  'serverSide': true,
  'ajax': '/communications.json',
  'stateSave' :true,
  
  columns: [
  {data: 'subject_name_show'},
  {data: 'person_first_name' },
  {data: 'about' },
  {data: 'keyword' },
  {data: 'created_at','render' : function(data,type,row) {
    return prettyDate(row.created_at);
  } },
  {data: 'user_name' },
   {
     "className":   'commedit-control',
     "orderable":      false,
     "data":           null,
     "defaultContent": '<a><center><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></center></a>'
   },
  
  {data: 'delete_communication', orderable: false, searchable: false} 


  ],
  'dom': 'lfr<"pull-right"B>tip',
  'buttons': [
  {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
  {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
  {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
  {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

  ],
  'language': {
        'url': '/datatables_slovak.json'
      },
  'lengthMenu': [
  [10, 50,100, -1],
  [10, 50,100, "All"]
  ],
   initComplete: function() {
    if ( $("#detailbutton").length) {console.log ('detailed search exists');}
              else {

              var r = $('#communication tfoot tr');
              r.find('th').each(function(){
               $(this).css('padding', 8);


              });
              $('#communication thead').append(r);
              $('#search_0').css('text-align', 'center');

//      $(".dataTables_filter").append('<button id="detailbutton" class="btn btn-primary btn-outline btn-xs" type="button"><span class="bold">Detailné vyhľadávanie</span></button>');
  //     $('#changepageinput').val('');

      var api = this.api();

      // Apply the search
      api.columns().every(function() {
        var that = this;

        $('input', this.footer()).on('keyup change', function() {
          if (that.search() !== this.value) {
            that
              .search(this.value)
              .draw();
          }
            });
        });

       $('#detailbutton').click(function() {
          $('#tabledetailsearch').toggleClass('visibility');
          });

       $('#changepageinput').on('keyup change',function() {

        if (parseInt($('#changepageinput').val()) > 0) {
        var pagenum = (parseInt($('#changepageinput').val()) -1);
        subjtable.page( pagenum ).draw( false );
        }
        else {subjtable.page( 0 ).draw( false );}


      }); 

    
            }

  },
  //initComplete: function() {
drawCallback: function(settings) {
        $('.commedit-control').on('click',function(event){

    
      var tr = $(this).closest('tr');
      var row = commtable.row( tr );

      updateCommEditModal(row.data());
      $editsubjID = $("#subject_edit_id_for_person").val();
      console.log($editsubjID)
      $.ajax({
            type: "GET",
            url: "/get_subject_contacts/"+$editsubjID,
           
            success:function(data){
              if (data.status == "ok")
              {
               $html1 = '<label>Osoba:</label><select id="editcommperson" class="form-control">';
               var $html2;
                for ( var i = 0; i < data.data.length; i++) {
                  $html2 += '<option value="'+data.data[i].id+'">'+data.data[i].first_name+' '+data.data[i].last_name+'</option>';
                }
                $html3 ='</select><br>';

                var $res = $html1.concat($html2,$html3);

                $('#addEditPersonToComm').empty();
                $('#addEditPersonToComm').append($res);
                

                $('#editcommperson').val(row.data().person_id);
                              
              }
              else { alert(data.status);}


            }
          });


      


      $('#editCommModal').modal('show');
});

   }

});



// pridanie search inputov

$('#communication tfoot th').each( function () {
        var title = $(this).text();
        
        //console.log($(this))
        if ( $(this).hasClass('inputdate') ) {
        $(this).html( '<input type="text" placeholder="2019-06-30" />' );  
        }
        else {
        $(this).html( '<input type="text" placeholder="Hľadaj" />' );
      }
    } );

$('.disabled').html( '<input disabled type="text" style="display:none" />' );





$("#commsubject").change(function(){
  
  $subjID = $("#commsubject").val();

  if ($subjID !== '') {
    $.ajax({
            type: "GET",
            url: "/get_subject_contacts/"+$subjID,
           
            success:function(data){
              if (data.status == "ok")
              {
               $html1 = '<label>Osoba:</label><select id="commperson" class="form-control">';
               var $html2;
                for ( var i = 0; i < data.data.length; i++) {
                  $html2 += '<option value="'+data.data[i].id+'">'+data.data[i].first_name+' '+data.data[i].last_name+'</option>';
                }
                $html3 ='</select><br>';

                var $res = $html1.concat($html2,$html3);

                $('#addPersonToComm').empty();
                $('#addPersonToComm').append($res);
                              
              }
              else { alert(data.status);}


            }
          });
  }
  else {
    $('#addPersonToComm').empty();
  }
  
});

$("#editcommsubject").change(function(){
  //$("#chosen-select").on('change', function(event,param){
  $subjID = $("#editcommsubject").val();
  //$subjID = $("#subject_edit_id_for_person").val();
  console.log('huhu')

  if ($subjID !== '') {
    $.ajax({
            type: "GET",
            url: "/get_subject_contacts/"+$subjID,
           
            success:function(data){
              if (data.status == "ok")
              {
               $html1 = '<label>Osoba:</label><select id="editcommperson" class="form-control">';
               var $html2;
                for ( var i = 0; i < data.data.length; i++) {
                  $html2 += '<option value="'+data.data[i].id+'">'+data.data[i].first_name+' '+data.data[i].last_name+'</option>';
                }
                $html3 ='</select><br>';

                var $res = $html1.concat($html2,$html3);

                $('#addEditPersonToComm').empty();
                $('#addEditPersonToComm').append($res);
                              
              }
              else { alert(data.status);}


            }
          });
  }
  else {
    $('#addEditPersonToComm').empty();
  }
  
});

$('.createcomm').on('click',function(event){
          //console.log(event.target.id);
          
          $subjid = $('#commsubject').val();
          $personid = $('#commperson').val();
          $commabout = $('#commabout').val();
          $commkeyword = $('#commkeyword').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_create_comm",
            data: {
              subjid: $subjid,
              personid: $personid,
              commabout: $commabout,
              commkeyword: $commkeyword
            },

            success:function(data){
              if (data.status == "ok")
              {
              //  alert("Záznam bol vytvorený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.updatecomm').on('click',function(event){
          //console.log(event.target.id);
          
          $commid = $('#editcommID').val();
          $editsubjid = $('#subject_edit_id_for_person').val();
          $editpersonid = $('#editcommperson').val();
          $editcommabout = $('#editcommabout').val();
          $editcommkeyword = $('#editcommkeyword').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_update_comm",
            data: {
              commid: $commid,
              editsubjid: $editsubjid,
              editpersonid: $editpersonid,
              editcommabout: $editcommabout,
              editcommkeyword: $editcommkeyword
            },

            success:function(data){
              if (data.status == "ok")
              {
               // alert("Záznam bol upravený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

commtable.on( 'search.dt', function () {
    //console.log("halo");
    tableready;
} );

};
$(".communication.index").ready(tableready);




document.addEventListener('turbolinks:before-cache', function() {
 if ($('#communication_wrapper').length ==1) {commtable.destroy() ;} 

});


$(".communication.index").on('turbolinks:load', tableready); 
</script>
